*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{


height:100vh;


display:flex;

justify-content:center;

align-items:center;



font-family:"Pixelify Sans",sans-serif;



background:url("images/heart-bg.jpg");


background-size:cover;


background-position:center;



overflow:hidden;


}







.question-box{


background:rgba(255,245,240,.85);



padding:50px;



border-radius:30px;



text-align:center;



box-shadow:0 20px 40px rgba(0,0,0,.15);



width:90%;

max-width:650px;


}





h1{


font-size:42px;


color:#d76159;


margin-bottom:30px;



}



p{


font-size:30px;


color:#cd90ab;


margin-bottom:40px;


}






.buttons{


display:flex;


justify-content:center;


gap:40px;



position:relative;


}





button{


font-family:"Pixelify Sans",sans-serif;


font-size:22px;


padding:15px 30px;


border-radius:50px;


cursor:pointer;


transition:.3s;



}




#yes-btn{


background:#cd90ab;


border:3px solid #cd90ab;


color:#d76159;


}




#yes-btn:hover{


transform:scale(1.1);


}







#no-btn{


background:transparent;


border:3px solid #d76159;


color:#d76159;



position:relative;



}





@media(max-width:700px){



.question-box{

padding:30px;

}



h1{

font-size:28px;

}


p{

font-size:22px;

}




.buttons{


flex-direction:column;


gap:25px;


align-items:center;


}




button{


font-size:18px;


}



}